@import "../../style/index.scss";
@import "~taro-ui/dist/style/components/calendar.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/accordion.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.head_select{
    @include flexBox();
}
.time_select{
    padding:8rpx 20rpx;
    box-sizing: border-box;
    border:2rpx solid rgba(216,216,216,1);
    @include fontStyle(26rpx,500,rgba(96,96,96,1));
    border-radius: 8rpx;
}
.other_select{
    width:186rpx;
    height:52rpx;
    border-radius:8rpx;
    border:2rpx solid rgba(216,216,216,1);
}