@import '../../style/index.scss';
@import "~water-ui/dist/style/components/share-button.scss";
@import "~water-ui/dist/style/components/top-bar.scss";

.index{
    margin-top:138rpx;
}
.banner{
    width:100%;
    height:412rpx;
    position: relative;
}
.swiper-container{
    width:100%;
    height:100%;
}
.banner_dot{
    @include fontStyle(22rpx,500,rgba(96,96,96,1));
    width:84rpx;
    height:44rpx;
    @include flexBox(center,center);
    border-radius: 22rpx;
    background:rgba(96,96,96,0.12);
    position: absolute;
    bottom: 14rpx;
    right:30rpx;
}
.goods_detail{
    width:100%;
    padding:36rpx 30rpx 20rpx 30rpx;
    box-sizing: border-box;
}
.goods_title{
    margin-top: 30rpx;
    @include fontStyle(32rpx,500,rgba(13,13,13,1));  
}
.goods_detailItem{
    margin-top:28rpx;
    @include flexBox();
    view:nth-of-type(1){
        @include fontStyle(50rx,500,#2FCB88);
        margin-right:30rpx;
    }
    view:nth-of-type(2){
        @include fontStyle(26rpx,500,rgba(96,96,96,1));
    }
}
.goods_otherDetail{
    @include flexBox();
    @include fontStyle(24rpx,500,rgba(172,172,172,1));
    margin-top:28rpx;
    view:nth-of-type(1){
        margin-right:40rpx;
    }
}
.bottom_btn{
    position: fixed;
    bottom: 0;
    width:100%;
    @include flexBox();
    height:100rpx;
    .buy{
        width:50%;
        height:100%;
        line-height: 100rpx;
        @include fontStyle(30rpx,bold,rgba(255,255,255,1));
        text-align: center;
    }
    .shareBtn{
        width:376rpx;
        background:linear-gradient(90deg,rgba(255,216,90,1) 0%,rgba(255,180,12,1) 100%);
        box-shadow:0px 2px 4px 0px rgba(24,114,42,0.1);
        height:100%;
        line-height: 100rpx;
        @include fontStyle(30rpx,bold,rgba(255,255,255,1));
        border-radius: 0 !important;
    }
    button::after{
        border:none;
    }
}
